.card{
    width: 100%;
    height: 40rem;
    border-radius: 20px;
    margin-bottom: 2rem;
    background-color: whitesmoke;
}
iframe{
    width: 100%;
    height: 60%;
}
.searchbox{
    justify-content: center;
}
.row{
    padding: 1rem;
}
.dropdown-menu{
    width: 300px;
    overflow:scroll;
}

body{
    background-color: rgb(115, 201, 201);
}
.playbar{
    border-radius: 10px;
    height: 400px;
    background-color: beige;
}