.card{
    width: 100%;
    height: 40rem;
    border-radius: 20px;
    overflow: hidden;
    margin-bottom: 2rem;
    background-color: whitesmoke;
}
iframe{
    width: 100%;
    height: 60%;
}
.searchbox{
    justify-content: center;
}
.row{
    padding: 1rem;
}